# Environments
venv/
.env

# Python
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

# Logs
*.log

# Alembic cache
alembic/versions/__pycache__/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Frontend
node_modules/
.next/
out/

# Build
dist/
build/

uploads/