fastapi
uvicorn
pydantic-settings
python-dotenv
sqlalchemy
asyncpg
alembic
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
email-validator
pytest 
httpx 
pytest-asyncio
aiosqlite # for testing purpose
